---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Stack from "../components/Stack.astro";
---

<Layout
    title="Théo — Portfolio"
    description="Portfolio de Théo, développeur full-stack."
>
    <Navbar />
    <main>
        <Hero />
        <About />
        <Stack />
        <Projects />
        <Contact />
    </main>
</Layout>
